<?xml version="1.0" encoding="UTF-8"?>
<exhibit>
	<inputfile name="a.csv" time="18:00" grace-period="30">
		<structure>
			<field name="serialNum" type="int" />
			<field name="firstName" type="text" />
			<field name="lastName" type="text" />
			<field name="DOB" type="date" />
		</structure>
	</inputfile>
	<inputfile name="b.csv" time="10:00" grace-period="30">
		<structure>
			<field name="firstName" type="text" />
			<field name="lastName" type="text" />
			<field name="loanAmt" type="double" />
			<field name="serialNum"	type="int" />
		</structure>
	</inputfile>
	<inputfile name="c.csv" time="11:00" grace-period="30">
		<structure>
			<field name="firstName" type="text" />
			<field name="lastName" type="text" />
		</structure>
	</inputfile>
	<outputfile name="output.csv" time="11:22">
		<dependency file="a.csv" />
		<dependency file="b.csv" />
	</outputfile>
	<outputfile name="output2.csv" time="12:30">
		<dependency file="c.csv" />
	</outputfile>
</exhibit>